{% extends 'Notion/base.html' %}

{% block content %}
    <h3 class="text-center">To-Do List</h3>
    <table class="table table-sm table-striped table-hover">
				<thead>
					<tr>
						<th>
							Task
						</th>
						<th>
							Comment
						</th>
						<th>
							Status
						</th>
						<th>

						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
                        {% for task in tasks %}
						<td>
                        {{ task.title }}
						</td>
						<td>
							{{ task.content }}
						</td>
                        <td>
                        <form method="POST" action="{% url 'todo_complete' task.id %}">
                        {% csrf_token %}
                            <div class="form-group form-check">
                                {{ task.done }}
                                <input type="checkbox" onchange="this.form.submit()" {% if task.done %}checked{% endif %}>
                            </div>
                        </form>
						</td>
						<td>
							<a href="{% url 'delete_task' task.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
						</td>
                    </tr>
                {% endfor %}
				</tbody>
			</table>
    <div class="empty-form">{% for task in tasks %}{% empty %} No tasks yet.{% endfor %}</div>

    <h3>Add a new task:</h3>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-success">Add</button>
    </form>
{% endblock %}